@model IEnumerable<ServiceStation.Car>

@{
    ViewBag.Title = "Cars";
}

<h2> Client cars</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.ActionLink("Create new car", "Create", "Car")
            @Html.ActionLink("Edit", "Edit", "Car", new {id = item.IdCar}, null)
            @Html.ActionLink("Delete", "Delete", "Car", new {id = item.IdCar}, null)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
